.register{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.rLeftContainer{
    flex:2;
    background: linear-gradient(300deg, #0C356A, #0174BE, #00A9FF);
    background-size: 200% 200%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

.rLeftWrapper{
    position: relative;
    top: 20%;;
    left: 5%;
}

.rPhrase{
    font-size: 30px;
    font-weight: bolder;
    color: #F5F7F8;
    font-style: oblique;
    word-wrap: break-word;
}


.rRightContainer{
    flex:1;
    height: 100%;
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerButton{
    height: 40px;
    width: 80%;
    max-width: 400px;
    margin: 15px;
    border-radius: 3px;
    border: none;
    background-color: #3876BF;
    color: white;
    font-size: 15px
}

.registerButton:hover{
    background-color: #3c5d87
}

.signupHeader{
    margin-top: 100px;
    margin-bottom: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.registerButton:disabled{
    background-color: grey;
}

.dbErrorMessage{
    font-size: 14px;
    color: red;
}

.rDbErrorMessageContainer{
    width: 80%;
    display:flex;
    justify-content: center;
    text-align: center;
    height: 50px;

}